@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(code_text_programming_192795_1920x1080.jpg);
}


.app {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;

}

.quiz h2{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.btn{
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover:not([disabled]) {
    background: rgb(177, 105, 245);
    color: white;

}


#next-btn {
    background: rgb(119, 85, 211);
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    display: none;
}


.correct {
    background: rgb(46, 219, 46);
}

.incorrect {
    background: rgb(221, 7, 78);
}