@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*              <--NAVBAR-->    */
.navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: var(--navbar-bg);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.strip {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
}

.strip .logo {
    margin-left: 10%;
    margin-right: 70px;
}

.strip .under ul {
    display: flex;
    list-style: none;
}

.strip .under li {
    margin-right: 40px; 
    font-size: 20px;
}

.strip .under a {
    text-decoration: none;
    color: var(--text-color);
}

.strip .under a:hover {
    color: var(--link-hover-color);
    transition: 0.5s;
}

.strip .motyw {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.strip .buy-button {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 25px;
}

.buy-button {
    background-color: rgb(88, 90, 241);
    width: 120px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 100px;
    border-radius: 10px;
}

.buy-button a {
    text-decoration: none;
    color: white;
}

.buy-button i {
    margin-right: 7.5px;
}

.buy-button:hover {
    background-color: rgb(47, 50, 233);
    transition: 0.5s;
}

/*                              <--SWITCH-->     */
.motyw {
    display: flex;
    align-items: center;
}

.main-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 27px;
    margin: 0 10px;
}

.main-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.motyw-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.motyw-switch:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .1s;
    border-radius: 50%;
}

input:checked + .motyw-switch {
    background-color: rgb(88, 90, 241);
}

input:checked + .motyw-switch:before {
    transform: translateX(16px);
}

/*                                  <--Main zdjecie-->       */

.main-web {
    background: var(--main-bg-gradient);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.text-section-next-img {
    padding-left: 8%;
}

.com-name {
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
}

.describe {
    color: rgb(177, 177, 177);
    font-size: 27px;
    margin-bottom: 50px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 60px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6861cc;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 52px;
    width: 104px;
    left: 4px;
    top: 4px;
    background-color: white;
    border-radius: 30px;
    transition: .4s;

}
  
input:checked + .slider {
    background-color: #571edd;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(108px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 30px;
}

.text {
    z-index: 1;
}

.text.light {
    padding-left: 10px;
}

.text.dark {
    padding-right: 10px;
}

.light-version .dark-version {
    display: none;
}

.content {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.left-image-slider2, .right-image-slider2 {
    width: 550px;
    margin-left: 0px;
}

.left-image-slider2 {
    margin-top: 350px;
}

.button-to-slide-down {
    margin-top: 180px;
    margin-left: 35px;
    display: flex;
    color: rgb(233, 233, 233);
}

.button-to-slide-down i {
    width: 37.5px;
    height: 35px;
    border-radius: 30px;
    background-color: rgb(66, 66, 66);
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.button-to-slide-down p {
    margin-top: 8px;
    margin-left: 15px;
}

.second-container {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 600;
}

.bar {
    margin-top: 100px;
    width: 250px;
    height: 200px;
    text-align: center;
}

.icon {
    width: 150px;
    height: 150px;
}

.third-container {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.header h1 {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.header p {
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    border-radius: 10px;
}

.card p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.card img {
    width: 450px;
    height: 250px;
    border-radius: 10px;
}

.first-row {
    display: flex;
    justify-content: space-around;
}

.card:hover {
    color: #746BBA;
    transition: 0.5s;
    transform: translateY(-3px);
}

.slider.round span {
    font-weight: 400;
}

.text.dark {
    padding-right: 10px;
}

.text.light {
    padding-left: 10px;
}

/* Dark mode styles */
:root {
    --navbar-bg: white;
    --text-color: black;
    --link-hover-color: rgb(88, 90, 241);
    --main-bg-gradient: linear-gradient(to right, #111224, #2E2963, #746BBA, #E9D5E1);
    --body-bg-color: white; /* Dodaj zmienną dla tła body */
}

body {
    background-color: var(--body-bg-color); /* Użyj zmiennej dla tła body */
    color: var(--text-color); /* Ustaw kolor tekstu */
}

body.dark-mode {
    --navbar-bg: black;
    --text-color: white;
    --link-hover-color: rgb(150, 150, 241);
    --body-bg-color: rgb(10, 12, 34); 
}

body.light-mode {
    --navbar-bg: white;
    --text-color: black;
    --link-hover-color: rgb(88, 90, 241);
    --main-bg-gradient: linear-gradient(to right, #111224, #2E2963, #746BBA, #E9D5E1);
    --body-bg-color: white; 
}

body.dark-mode .theme-label {
    color: white;
}

body.light-mode .theme-label {
    color: black;
}

.navbar,
.strip .under a,
.logo a,
.theme-label {
    transition: color 0.5s ease, background-color 0.5s ease;
}